<div class="login-page">

  <div>
      <img src="/assets/call it done logo.png" alt="call it done logo" width="200">
  </div>
  

<div style="margin: 5px;" class="body">    <p> Keep track of each to-do list item and call it done!</p>
</div>
  <div class="login-card body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <label for="username">Username</label><br>
      <input type="text" id="username" formControlName="username" placeholder="Enter your username"><br><br>

      <label for="email">Email</label><br>
      <input type="text" id="email" formControlName="email" placeholder="Enter your email address"><br><br>

      <label for="password">Password</label><br>
      <input type="password" id="password" formControlName="password" placeholder="Enter your password"><br><br>

      <button type="submit" class="btn-primary">Create Account</button>
    </form>
  </div>

  <p class="body">
    <span style="color: dimgray;">Already have an account? </span>
    <span style="color: blue;" routerLink="/login">Login here</span>
  </p>

</div>
