.display {
    font-family: "Kelly Slab", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .body {
    font-size: x-small;
    font-family: "Instrument Sans", sans-serif;
  }

  .btn-primary {
    margin: 12px;
    padding: 9px;
    border: none;
    border-radius: 4px;
    background: #2a2620;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    width: 10%;
    cursor: pointer;
  }

.task-actions { display: inline-flex; gap: 14px; }